*{
    border:solid 1px red;
}

body{
    backdrop-filter:blur(1.75px);
}

.about-content-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.owner-image {
    flex: 0 0 300px;
    margin-top: 10%;
    margin-left: 5%;
}

.owner-info {
    flex: 1;
    margin-left: 20%;
}

#pic{
    border-radius: 10px;
}

.product-card {
    border-radius: 12px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    margin-top: -35%;
    margin-left: 20%;
    margin-right: 10%;
    width: 100%;
    border-radius: 30px;

}

#start {
    text-align: justify;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1rem;
    color: antiquewhite;
    letter-spacing: 20%;
}

#about {
    text-align: center;
    color: white;
    font-size: 55px;
    margin-bottom: 2rem;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.3s;
    transform: skew(-10deg);
    letter-spacing: 10%;
} 

.join {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}



@media (max-width: 768px) {
    .about-content-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .owner-image {
        size: 250px;
        margin-left: 0;
        margin-top: 5%;
    }
    .owner-image {
        margin-top: 0%;
        width: 60%;
    }

    .owner-info {
        margin: 0 auto;
        padding: 1rem;
        margin-top: 0%;
    }

    #start {
        text-align: justify;
        font-size: 18px;
        margin-top: 0%;
    }

    #about {
        font-size: 40px;
        margin-top: 15%;
    }

    .product-card {
        margin: 10% auto;
        margin-top: 0%;
        width: 90%;
    }
}
