@font-face {
    font-family: 'ADPRO';
    src: url(../static/ADPRO.ttf);
}

* {
    font-family: 'ADPRO';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../static/imgs/GreyBricksBackground.png);
}

.navbar {
    background-color: #2c3e50;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
    padding: 1rem;
}

.nav-logo {
    display: flex;
    max-height: 50px;
}

.logo {
    font-size: 1.5rem;
    margin-top: 0%;
    margin-left: 10%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10%;
    margin-top: 0%;
    margin-right: 10%;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navlink {
    display: flex;
    position: relative;
    text-decoration: none;
    color: white;
    padding-bottom: 4px;
    /* for spacing between text and underline */
}

.navlink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    /* aligns it just below the text */
    width: 0;
    height: 2px;
    background-color: #0796c8;
    transition: width 0.3s ease-in-out;
}

.navlink:hover::after {
    width: 100%;
    color: #0796c8;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.hamburger:hover {
    color: #3498db;
}


/* MOBILE VERSION */

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        right: -10px;
        background-color: white;
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid #2c3e50;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 3;
    }
    .navlink {
        margin-bottom: 4px;
        text-decoration: none;
        color: black;
    }
    .navlink::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        /* aligns it just below the text */
        width: 0;
        height: 2px;
        background-color: #0796c8;
        transition: width 0.3s ease-in-out;
    }
    .navlink:hover::after {
        width: 100%;
        color: #0796c8;
    }
    .nav-links.show {
        display: flex;
    }
    .hamburger {
        display: block;
        margin-right: 5%
    }
    .FooterAll {
        width: 100%;
    }
    .FooterLogoAndInfo {
        display: none;
    }
    .FooterProductAndLinks {
        max-width: 30%;
    }
    #brX {
        margin-top: 15.7px;
    }
    .FooterAddressAndContact {
        max-width: 53%;
        font-size: 15px;
    }
    .FooterAddressAndContact hr {
        margin-top: 3px;
    }
}

footer {
    color: white;
    letter-spacing: 2px;
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
    z-index: 101;
    border-top: 2px solid #202d3a;
    border-bottom: 2px solid #202d3a;
}

.FooterOutsideLogo {
    display: flex;
    margin-left: 10%;
}

.FooterAll {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-top: -3%;
}

.FooterLogoAndInfo {
    width: 400px;
    margin-top: 5%;
    margin-bottom: 1%;
}

.FooterProductAndLinks {
    width: 200px;
    margin-top: 5%;
    margin-bottom: 1%;
}

.WebLogos {
    display: flex;
    gap: 10px;
    margin-left: 15px;
}

.FooterAddressAndContact {
    width: 400px;
    margin-top: 5%;
    margin-bottom: 1%;
}

.copyInfo {
    text-align: center;
    margin-bottom: 2%;
}