<!DOCTYPE html>
<html>

<head>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Sawariya Bricks and Blocks | CONTACT US</title>
        <link rel="stylesheet" href="..\static\styles.css" />
        <style>

        </style>
    </head>

    <body>
        <nav class="navbar">
            <div class="nav-links">
                <a href="index.html">HOME</a>
                <a href="about.html">ABOUT US</a>
                <a href="product.html">PRODUCTS</a>
                <a href="contact.html">CONTACT US</a>
            </div>
        </nav>

    </body>

    </html>